$exo: "Exo2.0", "Arial", sans-serif;
$trebuchet: "Trebuchet MS", "Arial", sans-serif;
$dove-gray: #666666;
$black: #000000;
$white: #ffffff;
$concrete: #f2f2f2;
$curious-blue: #1698d9;
$picton-blue: #2ea8e6;
$razzmatazz: #d91667;
$cerise-red: #e52e7a;
$nobel: #b3b3b3;
$laser-lemon: #ffff66;
